@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3774nv');
  src:  url('fonts/icomoon.eot?3774nv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3774nv') format('truetype'),
    url('fonts/icomoon.woff?3774nv') format('woff'),
    url('fonts/icomoon.svg?3774nv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e7de";
}
.icon-user:before {
  content: "\e628";
}
.icon-users:before {
  content: "\e60e";
}
.icon-workers:before {
  content: "\e60f";
}
.icon-worker:before {
  content: "\e686";
}
.icon-xiangmu:before {
  content: "\e624";
}
.icon-gongzi:before {
  content: "\e6da";
}
.icon-zhengjian:before {
  content: "\e6d5";
}
.icon-hetong:before {
  content: "\e60d";
}
.icon-tousu:before {
  content: "\e617";
}
.icon-xiugaimima:before {
  content: "\e600";
}
.icon-arrLeft-fill:before {
  content: "\e601";
}
.icon-xiugaishuxing:before {
  content: "\e602";
}
.icon-icon:before {
  content: "\e603";
}
.icon-xinghao:before {
  content: "\e604";
}
.icon-shanchuhover:before {
  content: "\e606";
}
.icon-correct:before {
  content: "\e607";
}
.icon-daoru:before {
  content: "\e608";
}
.icon-tixing:before {
  content: "\e609";
}
.icon-paixu:before {
  content: "\e60a";
}
.icon-sanx-up:before {
  content: "\e60b";
}
.icon-shangchuan1:before {
  content: "\e60c";
}
.icon-menu-unfold:before {
  content: "\e611";
}
.icon-daochu1:before {
  content: "\e612";
}
.icon-menu-fold:before {
  content: "\e613";
}
.icon-download-cloud:before {
  content: "\e615";
}
.icon-jia:before {
  content: "\e616";
}
.icon-upload-cloud:before {
  content: "\e618";
}
.icon-lingdaobanzi1:before {
  content: "\e61b";
}
.icon-yonghurenxiang:before {
  content: "\e61f";
}
.icon-jiankong:before {
  content: "\e620";
}
.icon-refresh3:before {
  content: "\e621";
}
.icon-yonghu:before {
  content: "\e622";
}
.icon-jian:before {
  content: "\e627";
}
.icon-photo:before {
  content: "\e630";
}
.icon-yinxing:before {
  content: "\e631";
}
.icon-search4:before {
  content: "\e633";
}
.icon-8:before {
  content: "\e634";
}
.icon-upload:before {
  content: "\e643";
}
.icon-calendar2:before {
  content: "\e65c";
}
.icon-kejian:before {
  content: "\e65d";
}
.icon-fanhuishangji:before {
  content: "\e65e";
}
.icon-gongyingshangjieshou:before {
  content: "\e662";
}
.icon-chexiao:before {
  content: "\e66a";
}
.icon-bangzhu:before {
  content: "\e683";
}
.icon-power14:before {
  content: "\e698";
}
.icon-lingdaobanzi:before {
  content: "\e6b0";
}
.icon-anquan:before {
  content: "\e6ca";
}
.icon-xitongshezhi:before {
  content: "\e6eb";
}
.icon-arrow-bottom3:before {
  content: "\e728";
}
.icon-arrow-top3:before {
  content: "\e729";
}
.icon-arrow-left3:before {
  content: "\e72a";
}
.icon-arrow-right3:before {
  content: "\e72b";
}
.icon-warning-01:before {
  content: "\e73b";
}
.icon-cuo:before {
  content: "\e7cc";
}
.icon-tuodong:before {
  content: "\e7d1";
}
.icon-bukejian1:before {
  content: "\e831";
}
.icon-shijianlishijilujishizhongbiaoxianxing:before {
  content: "\e895";
}
.icon-i-eye:before {
  content: "\e900";
}
.icon-i-eye-of:before {
  content: "\e901";
}
.icon-i-like:before {
  content: "\e902";
}
.icon-i-loadding:before {
  content: "\e903";
}
.icon-i-message:before {
  content: "\e904";
}
.icon-i-monitor:before {
  content: "\e905";
}
.icon-i-refresh:before {
  content: "\e906";
}
.icon-i-search:before {
  content: "\e907";
}
.icon-i-time:before {
  content: "\e908";
}
.icon-add:before {
  content: "\e6001";
}
.icon-add-person:before {
  content: "\e6002";
}
.icon-edit1:before {
  content: "\e6022";
}
.icon-bunengshanchu:before {
  content: "\e605";
}
.icon-jinzhicaozuo:before {
  content: "\e623";
}
.icon-bukebianji:before {
  content: "\e6ee";
}
