.personList {
  // transition:  all 0.6s;
  padding: 0 16px;

  
  .split-line {
    height: calc(100vh - 130px);
  }
  .search-box {
    text-align: left;
    background: #fff;
    box-shadow: 0px 0px 10px #ddd;
    padding-top: 10px;
    margin-left:20px;

    .ivu-form-item {
      width:calc(30% - 25px);
      margin-bottom: 10px;

      .ivu-select,
      .ivu-date-picker {
        width: 100% !important;
      }
    }
  }

  .tree-box {
    float: left;
    height: calc(100vh - 130px);
  }

  .content-box {
    width: 100%;

    .setting {
      padding: 10px 20px;
      height: 46px;

      .left,
      .right {
        cursor: pointer;
      }

      .ivu-btn+.ivu-btn{
        margin-left:10px;
      }

    }

    .page_operate {
      padding: 10px 20px;
      text-align: left;
    }

    .box {
      background: #fff;
      box-shadow: 0px 0px 10px #ddd;
      margin-left: 20px;
    }
  }

  .content-style2 {
    // padding-left: 80px;
  }

  .style2 {
    width: 80px;
  }
}

// .upload{
//   .ivu-form-item{width: 60%;}
//   .ivu-btn{margin-left: 36px;}
//   .show-name{display: inline-block;    margin-left: 16px;}
// }
.tips{
  padding: 10px;
  background: #f5f9fd;

  .header{
    font-size: 14px;
  }
  .content{
    line-height: 30px;
    font-size: 14px;
  }
}
.upload-box{
  padding-top: 20px;

  .ivu-form-item {
    margin-bottom: 15px;
  }
}
.ivu-modal-confirm-body{
  max-height: 400px;
  overflow: auto;
}
